body
{
background-color: #d3d0fe;
}
#top-bar{
width: 70%;
height: 50px;
background: #32b3bf;
position: fixed;
top: -65px;
left: 15%;

/* CSS3 shadow*/
-webkit-box-shadow: 0px 8px 15px #333;
-moz-box-shadow:0px 8px 15px #333;
box-shadow:0px 8px 15px #333;
}
#menu{
width: 900px;
margin: 0 auto;
line-height:50px;
}
#menu b, #menu a{color:#fff;padding:0 20px;}
#bottom-bar{
width: 90%;
height: 300px;
background: #D8ABFF;
position: fixed;
bottom: -270px;
left: 5%;

/* CSS3 shadow*/
-webkit-box-shadow: 0px 8px 15px #333;
-moz-box-shadow:0px 8px 15px #333;
box-shadow:0px 8px 15px #333;
}